@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

i {
  @apply flex items-center justify-center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
